# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Flask stuff
instance/
.webassets-cache

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environment variables
.env
.env.local
.env.production

# IDE files
.idea/
.vscode/

# Logs
*.log
logs/

# Database
*.db
*.sqlite
db.sqlite3
db.sqlite3-journal

# Project specific
data/

# OS files
.DS_Store
Thumbs.db
.env
prompt.md

super-gems.html
super-gems-ratings.html
super-gems.json
super-gems-ratings.json
